@media print {
    html, body { height: auto; } /* Removal of second page */
    @page { margin: 10px; } /* Removal of redundant headers and footers*/

    .body {
        display: block;
        overflow: hidden;
    }

    .nav {
        display: none;
    }

    .header {
        display: none;
    }

    .main {
        display: block;
    }

    
}

@media print and (orientation: portrait) {
    /* portrait mode */
}

@media print and (orientation: landscape) {
    /* portrait mode */
}
