@media print {
    html, body { height: auto; } /* Removal of second page */
    @page { margin: 10px; } /* Removal of redundant headers and footers*/

    .nav {
        display: none;
    }

    .header {
        display: none;
    }

    .main {
        display: block;
    }

    .controls {
        display: none;
    }

    .event-list {
        display: block;
    }
}

@media print and (orientation: portrait) {
    .body {
        display: block;
        overflow: hidden;
    }
}

@media print and (orientation: landscape) {
    .body {
        display: grid;
        grid-template-columns: auto auto 200px;
        grid-template-rows: 80px auto 45px;
        column-gap: 10px;
        grid-template-areas: 
        "header name ."
        "navigation main events"
        "navigation controls .";
    }
}
