/* main */

:root {
    --title-sans: Helvetica, Arial, sans-serif;

    --nav-background: #35302D;
    --light-gray: #DFDBD9;
    --dim-gray: #3C3735;
    --slider: #DF4500;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    background-color: #ccc;
}

.header {
    grid-area: header;
    justify-self: center;
}

.canvas {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.main {
    grid-area: main;
}

.nav {
    grid-area: navigation;
    height: 100%;
}

.name {
    grid-area: name;
}

.name > h2 {
    font: 2em var(--title-sans);
    text-align: center;
}

.controls {
    grid-area: controls;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}

.event-list {
    grid-area: events;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow-y: auto;
}

.event-list__event {
    border: 1px solid;
    margin: 5px;
    overflow-y: scroll;
    min-height: calc(20% - 12px);
    overflow: hidden;
}

.body {
    display: grid;
    grid-template-columns: 250px auto 200px;
    grid-template-rows: 80px auto 45px;
    column-gap: 10px;
    grid-template-areas: 
    "header name ."
    "navigation main events"
    "navigation controls .";
}

.controls__button {
    background-color: var(--nav-background);
    color: var(--light-gray);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.controls__button:focus {
    outline: #DF4500 solid 1px;
}


@media screen and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }

    .header {
        display: none;
    }

    .nav {
        display: none;
    }

    .body {
        display: block;
    }

    .canvas {
        display: block;
        position: absolute;
        margin: auto;
        background-color: #fff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .controls {
        display: none;
    }
}

/* menu */

.side-menu {
    background: var(--nav-background);
}

.dungeon-generator {
    font: 300 2em var(--title-sans);
    text-align: center;
    padding: 0;
    margin: 0;
}

.dungeon-generator > a {
    display: block;
    padding: 5px 0;
    color: var(--light-gray);
    text-decoration: none;
    transition: .15s linear color;
}

.dungeon-generator > a:hover {
    color:white;
}

.dungeon-generator > a:focus {
    color:white;
}

.nav__list {
    border-top: solid 1px var(--dim-gray);
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.nav__item {
    border-bottom: solid 1px var(--dim-gray);
    position: relative;
    overflow: hidden;
}

.nav__item > a {
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 1.1em 0;
    font: 400 1.125em var(--title-sans);
    color: var(--light-gray);
    transition: .35s ease color;
    z-index: 1;
}

.nav__item > a:focus {
    color: white;
}

.nav__item > a::before {
    content: '';
    display: block;
    z-index: -1;
    position: absolute;
    left: calc(-100% - 5px);
    top: 0;
    width: 100%;
    height: 100%;
    border-right: solid 5px var(--slider);
    background: var(--dim-gray);
    transition: .35s ease left;
}

.nav__item > a:hover {
    color: white;
}

.nav__item > a:hover::before {
    left: -5px;
}

.nav__item > .active--page::before {
    left: -5px;
}

/* Config */
.main--subpage {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 80em;
    overflow-y: scroll;
}

.config-category {
    font: 400 1.75em var(--title-sans);
    text-decoration: underline;
}

.config-entry {
    padding-top: 1%;
    padding-bottom: 1%;
}

.config-entry__range {
    width: 99%;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.config-entry__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: var(--slider);
    cursor: pointer;
    border: 0 !important;
}

.config-entry__range::-webkit-slider-runnable-track {
    height: 3px;
    cursor: pointer;
    background: var(--dim-gray);
}

.config-entry__range:focus {
    background: none;
    outline: none;
}

.config-entry__labels {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.config-entry__label {
    color: var(--dim-gray);
    cursor: pointer;
    font: 400 1em var(--title-sans);
}

.config-entry__title {
    font: 1.5em var(--title-sans);
    color: var(--dim-gray);
}
